<div class="row">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
        <a href="{{ path(url) }}" class="btn btn-default form-control"><i class="fa fa-arrow-left"></i> {% trans %}label.back{% endtrans %}</a>
    </div>
    <div class="col-md-3 col-xs-3">
        <button type="submit" name="add" id="add" class="btn btn-success form-control"><i class="fa fa-save"></i> {% trans %}label.save{% endtrans %}</button>
    </div>
</div>