<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-sql">
            <div class="panel-heading">{% trans %}label.sql.queries{% endtrans %}</div>
            <div class="panel-body">
                <pre id="{{ queryId }}">{{ query|raw }}</pre>
            </div>
        </div>
    </div>
</div>