<script>
    $(document).ready(function () {
        var panelSql = $('.panel-sql');
        var showSqlButton =$('#showSQL')
        panelSql.hide();
        showSqlButton.click(function () {
           panelSql.toggle();
           if (panelSql.is( ":visible" )){
               showSqlButton.text("{% trans %}label.hide.sql.queries{% endtrans %}")
           } else {
               showSqlButton.text("{% trans %}label.show.sql.queries{% endtrans %}")
           }
        });
    });
</script>