{% extends '::base.html.twig' %}
    {% if app.request.locale == 'ru' %}
        {% set table_language = 'Russian' %}
    {% elseif app.request.locale == 'lv' %}
        {% set table_language = 'Latvian' %}
    {% else %}
        {% set table_language = 'English' %}
    {% endif %}
{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
{% endblock %}
{% block body %}
    {% include 'AppBundle::_menu.html.twig' %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    {% block js %}{% endblock %}
{% endblock %}