{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container-fluid" style="margin-top: 60px;">
        <div class="page-header"><h3><i class="fa fa-group"></i> {% trans %}label.readers{% endtrans %} {% include 'AppBundle::_queryButton.html.twig' %}</h3></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover table-condensed" id="object-table">
                    <thead>
                    <tr>
                        <th>{% trans %}label.number{% endtrans %}</th>
                        <th>{% trans %}label.name{% endtrans %}</th>
                        <th>{% trans %}label.surname{% endtrans %}</th>
                        <th>{% trans %}label.phone{% endtrans %}</th>
                        <th class="no-sort">&nbsp;</th>
                    </tr>
                    </thead>
                </table>
                <a href="{{ path('readers-add') }}" class="btn btn-success"><i class="fa fa-plus"></i> {% trans %}label.add{% endtrans %}</a>
            </div>
        </div>
        <br>
        {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query', query: ''}) }}
    </div>
{% endblock %}
{% block js %}
    {% include 'AppBundle::_toggleQueryBlock.html.twig' %}
    <script>
        $(function () {
            var table = $('#object-table').DataTable({
                "serverSide": true,
                "processing": true,
                "stateSave": true,
                "order": [[0,"ASC"]],
                "iDisplayLength": 25,
                "sPaginationType": "full_numbers",
                "responsive": true,
                "columnDefs": [{
                    "targets": "no-sort",
                    "orderable": false,
                    "searchable": false
                }],
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/{{ table_language }}.json'
                },
                "ajax": {
                    "url": "{{ path('ajax_get_readers_table') }}",
                    "type": "POST",
                    "dataSrc": function (json) {

                        $('#query').empty().append(json.query);
                        return json.data;
                    }
                },
                "columns": [
                    { "name": "r.id"},
                    { "name": "r.name"},
                    { "name": "r.surname"},
                    { "name": "r.phone"},
                    { "name": "options", 'width': '55px' }
                ]
            });
        });
    </script>
{% endblock %}