{% extends "AppBundle::layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 60px;">
    <div class="page-header">
        <h3><i class="fa fa-info-circle"></i> {% trans %}label.reader.info{% endtrans %} {% include 'AppBundle::_queryButton.html.twig' %}</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-info-circle"></i> {% trans %}label.reader{% endtrans %}</div>
                <table class="table">
                    <tr><td>{% trans %}label.number{% endtrans %}</td><td>{{ object.id }}</td></tr>
                    <tr><td>{% trans %}label.name{% endtrans %}</td><td>{{ object.name }}</td></tr>
                    <tr><td>{% trans %}label.surname{% endtrans %}</td><td>{{ object.surname }}</td></tr>
                    <tr><td>{% trans %}label.phone{% endtrans %}</td><td>{{ phone_number_format(object.phone, 'INTERNATIONAL') }}</td></tr>
                </table>
            </div>
            {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query1'}) }}
        </div>
        <div class="col-md-8">
            <div class="panel panel-danger">
                <div class="panel-heading"><i class="fa fa-book"></i> {% trans %}label.current.books{% endtrans %}</div>
                <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-condensed" id="issued-book-table">
                    <thead>
                    <tr>
                        <th>{% trans %}label.book{% endtrans %}</th>
                        <th>{% trans %}label.status{% endtrans %}</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                </table>
                </div>
            </div>
            {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query2', query: ''}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-archive"></i> {% trans %}label.book.history{% endtrans %}</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed" id="issued-book-history-table">
                        <thead>
                        <tr>
                            <th>{% trans %}label.book{% endtrans %}</th>
                            <th>{% trans %}label.issue.date{% endtrans %}</th>
                            <th>{% trans %}label.status{% endtrans %}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query3', query: ''}) }}
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-bar-chart-o"></i> {% trans %}label.reader.book.graph{% endtrans %}</div>
                <div class="panel-body">
                    <div id="stats-container" style="max-height: 150px;"></div>
                </div>
            </div>
            {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query4', query: ''}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('readers') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {% trans %}label.back{% endtrans %}</a>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% include 'AppBundle::_toggleQueryBlock.html.twig' %}
    <script>
        $(function () {
            var table = $('#issued-book-table').DataTable({
                "serverSide": true,
                "processing": true,
                "responsive": true,
                "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/{{ table_language }}.json'
                },
                "ajax": {
                    "url": "{{ path('ajax_get_reader_current_books') }}",
                    "type": "POST",
                    "data": { "id": "{{ object.id }}"},
                    "dataSrc": function (json) {

                        $('#query2').empty().append(json.query);
                        return json.data;
                    }
                }
            });

            var table2 = $('#issued-book-history-table').DataTable({
                "serverSide": true,
                "processing": true,
                "responsive": true,
                "iDisplayLength": 25,
                //"paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/{{ table_language }}.json'
                },
                "ajax": {
                    "url": "{{ path('ajax_get_reader_issued_books_history') }}",
                    "type": "POST",
                    "data": { "id": "{{ object.id }}"},
                    "dataSrc": function (json) {

                        $('#query3').empty().append(json.query);
                        return json.data;
                    }
                }
            });

            $('#issued-book-table tbody').on('click', '.return-button', function () {
                var  id = $(this).parents('tr').attr('id');
                $.ajax({
                    data: {id: id},
                    dataType: "json",
                    type: "POST",
                    url: "{{ path('ajax_return_book') }}"
                }).success(function(){
                    reloadData()
                });
            });

            function reloadData()
            {
                table.ajax.reload(null,false);
                table2.ajax.reload(null,false);
            }
            $('#stats-container').append('<p style="text-align: center"><i class="fa fa-spin fa-spinner"></i> </p>');
            $.ajax({
                dataType: "json",
                data: {id: "{{ object.id }}"},
                type: "POST",
                url: "{{ path('ajax_get_reader_stats') }}"
            }).done(function (data) {
                $('#stats-container').empty();
                if (data.data.length > 0 ){
                    var chart = Morris.Line({
                        element: 'stats-container',
                        data: data.data,
                        xkey: 'month',
                        ykeys: ['count'],
                        labels: ['Books']
                    });
                } else {
                    $('#stats-container').append('<p style="text-align: center">{% trans %}label.no.data{% endtrans %}</p>');
                }
                $('#query4').empty().append(data.query);
            });

        });
    </script>
{% endblock %}