{% extends "AppBundle::layout.html.twig" %}


{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-star"></i> {% trans %}label.new_author{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% include "@App/_form-buttons.html.twig" with {'url': 'authors'} %}

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}