{% extends "AppBundle::layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-info-circle"></i> {% trans %}label.author.info{% endtrans %} {% include 'AppBundle::_queryButton.html.twig' %}</h3>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-info-circle"></i> {% trans %}label.author{% endtrans %}</div>
                    <table class="table">
                        <tr><td>{% trans %}label.number{% endtrans %}</td><td>{{ object.id }}</td></tr>
                        <tr><td>{% trans %}label.name{% endtrans %}</td><td>{{ object.name }}</td></tr>
                        <tr><td>{% trans %}label.biography{% endtrans %}</td><td>{{ object.biography }}</td></tr>


                    </table>
                </div>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query1'}) }}
            </div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="fa fa-bar-chart-o"></i> {% trans %}label.books.issue.graph{% endtrans %}</div>
                    <div class="panel-body">
                        <div id="stats-container" style="max-height: 150px;"></div>
                    </div>
                </div>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query2', query: ''}) }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading"><i class="fa fa-archive"></i> {% trans %}label.books{% endtrans %}</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover table-condensed" id="issued-book-history-table">
                            <thead>
                            <tr>
                                <th width="30%">{% trans %}label.book{% endtrans %}</th>
                                <th>{% trans %}label.description{% endtrans %}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query3', query: ''}) }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('authors') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {% trans %}label.back{% endtrans %}</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% include 'AppBundle::_toggleQueryBlock.html.twig' %}
    <script>
        $(function () {

            var table = $('#issued-book-history-table').DataTable({
                "serverSide": true,
                "processing": true,
                "responsive": true,
                "iDisplayLength": 25,
                //"paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/{{ table_language }}.json'
                },
                "ajax": {
                    "url": "{{ path('ajax_get_authors_book_list') }}",
                    "type": "POST",
                    "data": { "id": "{{ object.id }}"},
                    "dataSrc": function (json) {

                        $('#query3').empty().append(json.query);
                        return json.data;
                    }
                }
            });

            $('#stats-container').append('{% include 'AppBundle::_spinner.html.twig' %}');
            $.ajax({
                dataType: "json",
                data: {id: "{{ object.id }}"},
                type: "POST",
                url: "{{ path('ajax_get_author_stats') }}"
            }).done(function (data) {
                $('#stats-container').empty();
                if (data.data.length > 0 ){
                    var chart = Morris.Line({
                        element: 'stats-container',
                        data: data.data,
                        xkey: 'month',
                        ykeys: ['count'],
                        labels: ['Books']
                    });
                } else {
                    $('#stats-container').append('{% include 'AppBundle::_no-data.html.twig' %}');
                }
                $('#query2').empty().append(data.query);

            });

        });
    </script>
{% endblock %}