{% extends "AppBundle::layout.html.twig" %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-book"></i> {% trans %}label.new_book{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% include "@App/_form-buttons.html.twig" with {'url': 'books'} %}

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/ru.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}