{% extends "AppBundle::layout.html.twig" %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.min.css" rel="stylesheet">
    <style>
        .select2-selection__rendered {
            line-height: 32px !important;
        }
        .select2-selection {
            height: 34px !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-folder-open"></i> {% trans %}label.issue.book{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% include "@App/_form-buttons.html.twig" with {'url': 'home'} %}

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/ru.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
                startDate: '-2w',
                autoclose: true,
            });
        });
    </script>
{% endblock %}