{% extends "AppBundle::layout.html.twig" %}


{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-trash-o"></i> {% trans %}label.data_deletion{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> {% trans %}message.data.deletion{% endtrans %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>&nbsp;</p>
                        <p style="text-align: center">{% trans %}label.genre_deletion{% endtrans %} {{ genre.name }}?</p>
                        <p>&nbsp;</p>
                        <div class="row">
                            <div class="col-md-6"><a href="{{ path('genres') }}" class="btn btn-default"><i class="fa fa-ban"></i> {% trans %}label.cancel{% endtrans %}</a></div>
                            <form method="post" action="{{ path('genres-delete', {'id': id}) }}">
                                <input type="text" hidden="hidden" name="token_" value="{{ token }}" />
                                <div class="col-md-6"><button class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> {% trans %}label.delete{% endtrans %}</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}