{% extends 'AppBundle::layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 60px;">
        <div class="page-header"><h3><i class="fa fa-tags"></i> {% trans %}label.genres{% endtrans %}{% include 'AppBundle::_queryButton.html.twig' %} </h3></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-hover table-condensed" id="object-table">
                    <thead>
                    <tr>
                        <th>{% trans %}label.name{% endtrans %}</th>
                        <th>{% trans %}label.description{% endtrans %}</th>
                        <th class="no-sort">&nbsp;</th>
                    </tr>
                    </thead>
                </table>
                <a href="{{ path('genres-add') }}" class="btn btn-success"><i class="fa fa-plus"></i> {% trans %}label.add{% endtrans %}</a>
                <br>
                <br>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query1', query: ''}) }}
            </div>
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading"><i class="fa fa-pie-chart"></i> {% trans %}label.genre.book.count{% endtrans %}</div>
                    <div class="panel-body">
                        <div id="count-stats-container" style="max-height: 150px;"></div>
                    </div>
                </div>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query2', query: ''}) }}
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading"><i class="fa fa-pie-chart"></i> {% trans %}label.genre.popularity.count{% endtrans %}</div>
                    <div class="panel-body">
                        <div id="popularity-stats-container" style="max-height: 150px;"></div>
                    </div>
                </div>
                {{ include('AppBundle::_panel-sql.html.twig',{queryId: 'query3', query: ''}) }}
            </div>
        </div>
        <br>

    </div>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% include 'AppBundle::_toggleQueryBlock.html.twig' %}
    <script>
        $(function () {
            var table = $('#object-table').DataTable({
                "serverSide": true,
                "processing": true,
                "stateSave": true,
                "order": [[0,"ASC"]],
                "iDisplayLength": 25,
                "sPaginationType": "full_numbers",
                "responsive": true,
                "columnDefs": [{
                    "targets": "no-sort",
                    "orderable": false,
                    "searchable": false
                }],
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/{{ table_language }}.json'
                },
                "ajax": {
                    "url": "{{ path('ajax_get_genres_table') }}",
                    "type": "POST",
                    "dataSrc": function (json) {

                        $('#query1').empty().append(json.query);
                        return json.data;
                    }
                },
                "columns": [
                    { "name": "g.name"},
                    { "name": "g.description"},
                    { "name": "options", 'width': '55px' }
                ]
            });

            var countContainer = $('#count-stats-container');
            var popularityCountainer = $('#popularity-stats-container');
            countContainer.append('{% include 'AppBundle::_spinner.html.twig' %}');
            popularityCountainer.append('{% include 'AppBundle::_spinner.html.twig' %}');

            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{{ path('ajax_get_genres_book_count') }}"
            }).done(function (data) {
                countContainer.empty();
                if (data.data.length > 0 ){
                    var pie1 = Morris.Donut({
                        element: 'count-stats-container',
                        data: data.data
                    });
                } else {
                    countContainer.append('{% include 'AppBundle::_no-data.html.twig' %}');
                }
                $('#query2').empty().append(data.query);

            });

            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{{ path('ajax_get_genres_popularity') }}"
            }).done(function (data) {
                popularityCountainer.empty();
                if (data.data.length > 0 ){
                    var pie2 = Morris.Donut({
                        element: 'popularity-stats-container',
                        data: data.data
                    });
                } else {
                    popularityCountainer.append('{% include 'AppBundle::_no-data.html.twig' %}');
                }
                $('#query3').empty().append(data.query);

            });

        });
    </script>
{% endblock %}