{% extends "AppBundle::layout.html.twig" %}

{%- block choice_widget_expanded -%}
     <div {{ block('widget_container_attributes') }}>
        {% for name, choices in form.vars.choices %}
            {% if choices is iterable  %}

            <label class="choice_category">
                <strong>
                    {{ choice_translation_domain is same as(false) ? name : name|trans({}, choice_translation_domain) }}
                </strong>
            </label>
            <div>
            {% for key,choice in choices %}
                {{ form_widget(form[key]) }}
                {{ form_label(form[key]) }}
            {% endfor %}
            </div>

            {% else %}

            {{- form_widget(form[name]) -}}
            {{- form_label(form[name], null, {translation_domain: choice_translation_domain}) -}}

            {% endif %}
        {% endfor %}
{%- endblock choice_widget_expanded -%}


{% block content %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header">
            <h3><i class="fa fa-user"></i> {% trans %}label.edit.roles.for{% endtrans %} - {{ user.name }} {{ user.surname }}</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {% form_theme form _self %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ path('users') }}" class="btn btn-default form-control"><i class="fa fa-arrow-left"></i> {% trans %}label.back{% endtrans %}</a>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" name="add" id="add" class="btn btn-success form-control"><i class="fa fa-save"></i> {% trans %}label.save{% endtrans %}</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}