{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container-fluid" style="margin-top: 60px;">
        <div class="alert alert-danger" role="alert">{% trans %}Insufficient rights, please contact the administrator.{% endtrans %}</div>
    </div>
{% endblock %}