{% extends '::base.html.twig' %}
{% block title %}Authentication{% endblock %}
{% block body %}
    <div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-6 col-md-offset-3">
            <div class="well centered">
                <legend>Authentication{% if mode == 'dev' %} - <span class="text-danger">Development</span>{% endif %}</legend>
                <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="width: 20px" class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i style="width: 20px" class="fa fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required" />
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <button type="submit" id="_submit" class="btn btn-info btn-block form-control" name="_submit"><i class="fa fa-sign-in"></i> Login</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
    {% if error %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger" role="alert"><i class="fa fa-times-circle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}