{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container" style="margin-top: 60px;">
        <div class="page-header"><h3><i class="fa fa-user-secret"></i> {% trans %}label.profile{% endtrans %}</h3></div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-cogs"></i> {% trans %}label.general.settings{% endtrans %}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <a href="{{ path('profile') }}" class="btn btn-default pull-left"><i class="fa fa-ban"></i> {% trans %}label.cancel{% endtrans %}</a>
                                <button type="submit" name="save" class="btn btn-primary pull-right"><i class="fa fa-save"></i> {% trans %}label.save{% endtrans %}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {% for flashMessage in app.session.flashbag.get('profile_notice') %}
                                    <div style="margin-top: 10px" class="alert alert-success alert-dismissible" role="alert" id="profile-alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-key"></i> {% trans %}label.password.change{% endtrans %}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(passwordForm) }}
                                {{ form_widget(passwordForm) }}
                                <a href="{{ path('profile') }}" class="btn btn-default pull-left"><i class="fa fa-ban"></i> {% trans %}label.cancel{% endtrans %}</a>
                                <button type="submit" name="savePassword" class="btn btn-primary pull-right"><i class="fa fa-save"></i> {% trans %}label.save{% endtrans %}</button>
                                {{ form_end(passwordForm) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% for flashMessage in app.session.flashbag.get('password_notice') %}
                                    <div style="margin-top: 10px" class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}